<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Areas and Locations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Protected Areas and Locations</h2>
        <div class="list-group">
            <a href="/protected-areas" class="list-group-item list-group-item-action">List of protected areas</a>
            <a href="/locations" class="list-group-item list-group-item-action">List of locations</a>
            <a href="/location/update" class="list-group-item list-group-item-action">Update Location Province</a>
            <a href="/national-parks" class="list-group-item list-group-item-action">List of National Parks (Ordered by size)</a>           
        </div>
        <form action="/location-protected-areas" method="get" class="mt-4">
            <div class="form-group">
            {% csrf_token %}
            <label for="sub_loc">Enter a location to see its protected areas:</label>
            <input type="text" class="form-control" id="sub_loc" name="sub_loc" required>
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        </div>

    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>