<!DOCTYPE html>
<html>
  <head>
    <title>Update Location Province</title>
  </head>
  <body>
    <h2>Update Location Province</h1>
    <form action="" method="post">
        <label for="sub_loc">Sub_loc: </label><br/>
        <input id="sub_loc" type="text" name="sub_loc" value="">
        <br/><br/>
        <label for="province">Province: </label><br/>
        <input id="province" type="text" name="province" value="">
        <br/><br/>
        <input type="submit" value="Update">
    </form>
  </body>
</html>
